:host {
  display: block;
  font-family: sans-serif;
}

.table-container {
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table th,
.custom-table td {
  padding: 8px;
  border: 1px solid #ccc;
}

.custom-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  width: fit-content;
  position: relative;
}

.custom-table th .filter-label {
  position: absolute;
  top: -30px;
  left: 0;  
  text-align: center;
}


.custom-table td {
  width: fit-content;
}

.custom-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.pagination {
  margin-top: 10px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.page-of{
  margin: 5px;
}

.pagination button {
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 80px;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination button:hover {
  background-color: #0056b3;
}

.items-per-page {
  margin-top: 10px;
}

.items-per-page label {
  margin-right: 5px;
  padding:  5px;
}

.items-per-page select {
  padding: 5px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.input-container input[type="text"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.date-input{  
  flex: 1;
  margin-right: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.filter-label {
  margin-right: 5px;
}